<div class="payment-container">
    <h1>Seleccionar forma de pago</h1>
  
    <div (click)="pay('cash-on-pickup', transport.id)" *ngIf="transport.paymentMethods.includes('cash-on-pickup')" class="payment-option green-border">
      Contado al retirar
    </div>
  
    <div (click)="pay('cash-on-delivery', transport.id)" *ngIf="transport.paymentMethods.includes('cash-on-delivery')" class="payment-option green-border">
      Contado contra entrega
    </div>
  
    <div (click)="pay('creditCard', transport.id)" *ngIf="hasCreditCard" class="payment-option blue-border">
      Tarjeta
      <div class="card-icons">
        <img *ngIf="transport.paymentMethods.includes('master-card')" src="../../assets/master-card.png" alt="Master card" width="30">
        <img *ngIf="transport.paymentMethods.includes('american-express')" src="../../assets/american-express.png" alt="Amex" width="30">
        <img *ngIf="transport.paymentMethods.includes('visa')" src="../../assets/visa.png" alt="Visa" width="30">
      </div>
    </div>
  </div>
